
<div class="body">
<div class="section-1">
    <img src="img/login-img.png" alt="" class="login-img">
</div>
<div class="section-2">
    <img src="img/kcea logo.png" alt="" class="keca-logo">
    <div class="headings">
        <h2 class="main-heading">Welcome to Kshatriya collage of engineering </h2>
        <h2 class="main-heading-1">Welcome to KCEA </h2>
        <p class="sub-heading">Collage review website developed by Vishnu Marripalli</p>
    </div>
    <form action="/faculty" method="post" class="login-form">
        <input class="input-login" type="text" name="user" placeholder="FULL NAME" value="" required>
        <input class="input-login" type="text" name="password" placeholder="FACULTY ID" value="" required>
        <input class="login-btn" type="submit" value="Login">
        
        </form>
</div>
</div>