<footer class="footer">
    <div class="footer-section-1">
        <ul class="footer-menu">
            <li class="nav-items"><a href="/home">HOME</a></li>
            <li class="nav-items"><a href="suggestion">SUGGESTION</a></li>
            <li class="nav-items"><a href="complaint">COMPALINT</a></li>
            <li class="nav-items"><a href="antiragging">ANTI RAGGING</a></li>
        </ul>
        <div class="footer-logos">
            <a href="#"> <img src="img/facebook.png" alt="" class="footer-logo"></a>
            <a href="#"> <img src="img/youtube.png" alt="" class="footer-logo"></a>
        </div>
    </div>
    <div class="footer-section-2">
        <p>KCEA 2022 - VISHNU MARRIPALLI - ALL RIGHTS ARE RESERVED.</p>
    </div>

</footer>