<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/kcea logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/suggestion.css">
    <title><%= local.page %> </title>
</head>

<body>

    <%- include('../partials/navbar.ejs')  %>

    <%- body %>

    <%- include('../partials/footer.ejs')  %>
    <script src="script/script.js"></script>
    <script src="script/index.js"></script>
    <script src="script/suggestion.js"></script>
    
</body>

</html>